<!DOCTYPE HTML>

<html>
	<head>
		<title>Shooters Temecula</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
		<style>
			#logo {
				text-align: center; /* Center align the title */
			}
		</style>
	</head>
	<body>
		<div id="page-wrapper">

			<!-- Header -->
				<section id="header">
					<div class="container">
						<div class="row">
							<div class="col-12">

								<!-- Logo -->
									<h1><a href="index.html" id="logo">Shooters Temecula</a></h1>

								<!-- Nav -->
									<nav id="nav">
										<a href="index.html">Home</a>
										<a href="{{ url_for('threecolumn') }}">Menu</a>
									</nav>
							</div>
						</div>
					</div>
					<div id="banner">
						<div class="container">
							<div class="row">
								<div class="col-6 col-12-medium">

									<!-- Banner Copy -->
										<p>Your one stop shop for Pool in Temecula!</p>

								</div>
								<div class="col-6 col-12-medium imp-medium">



								</div>
							</div>
						</div>
					</div>
				</section>

			<!-- Features -->
				<section id="features">
					<div class="container">
						<div class="row">
							<div class="col-3 col-6-medium col-12-small">

								<!-- Feature #1 -->
									<section>
										<a href="#" class="bordered-feature-image"><img src="static/images/pic01.jpg" alt="" /></a>
										<h2>Welcome to Shooters!</h2>
										<p>
                                           Shooters is the only poolhall in temecula that provides
											a one of a kind experience that includes Live Weekend entertainment,
											delicious cocktails, and of course great food!
										</p>
									</section>

							</div>
							<div class="col-3 col-6-medium col-12-small">

								<!-- Feature #2 -->
									<section>
										<a href="#" class="bordered-feature-image"><img src="static/images/pic02.jpg" alt="" /></a>
										<h2>Barbeque Chicken Tots</h2>
										<p>
											The Barbeque Chicken Tots along with our Wings come with your choice
											in flavor, ranging from classic Buffalo to Lemon Pepper and
											many more!
										</p>
									</section>

							</div>
							<div class="col-3 col-6-medium col-12-small">

								<!-- Feature #3 -->
									<section>
										<a href="#" class="bordered-feature-image"><img src="static/images/pic03.jpg" alt="" /></a>
										<h2>Live Entertainment</h2>
										<p>
											We have live bands multiple times a month on the weekends that are
											sure to have you coming back for more!
										</p>
									</section>

							</div>
							<div class="col-3 col-6-medium col-12-small">

								<!-- Feature #4 -->
									<section>
										<a href="#" class="bordered-feature-image"><img src="static/images/pic04.jpg" alt="" /></a>
										<h2>Pool Leagues</h2>
										<p>
											Pool leagues Sunday through Thursday! Take your pick between BCA, APA, and PAL!
										</p>
									</section>

							</div>
						</div>
					</div>
				</section>

			<!-- Content -->
				<section id="content">
					<div class="container">
						<div class="row aln-center">
							<div class="col-4 col-12-medium">

								<!-- Box #1 -->
									<section>
										<header>
											<h2>Who We Are</h2>
											<h3>We are where champions come to play</h3>
										</header>
										<a href="#" class="feature-image"><img src="static/images/pic05.jpg" alt="" /></a>
										<p>

										</p>
									</section>

							</div>
							<div class="col-4 col-6-medium col-12-small">

								<!-- Box #2 -->
									<section>
										<header>
											<h2>What We Do</h2>
											<h3>We provide Unforgettable Experiences</h3>
										</header>
										<ul class="check-list">
											<li>The Best Pool Hall in Temecula</li>
											<li>Excellent Service!</li>
											<li>Great Drinks!</li>
											<li>High Stakes Pool Games!</li>
											<li>Live Music!</li>
										</ul>
									</section>

							</div>

						</div>
					</div>
				</section>

			<!-- Footer -->
				<section id="footer">
					<div class="container">
						<div class="row">

							<div class="col-4 col-12-medium imp-medium">

								<!-- Blurb -->
									<section>
										<h2>Information</h2>
										<p>
											 2891, 28950 Old Town Front St #102, Temecula, CA 92590
										</p>
										<h2>Phone</h2>
										<p>(951)-331-2720</p>
									</section>

							</div>
						</div>
					</div>
				</section>

		</div>

		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>

	</body>
</html>